
.icon-undo:before { content: '\e800'; } /* '' */
.icon-cw:before { content: '\e801'; } /* '' */
.icon-cancel-circle:before { content: '\e802'; } /* '' */
.icon-scissors:before { content: '\e803'; } /* '' */
.icon-bold:before { content: '\e804'; } /* '' */
.icon-italic:before { content: '\e805'; } /* '' */
.icon-picture:before { content: '\e806'; } /* '' */
.icon-emo-displeased:before { content: '\e80a'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */